doctype html
html
	head
		title Index
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- <!--[if IE 8]>script(src='/ie.js')<![endif]-->
		include head_style/_head_style
	body
		.wrapper
			.content
				include header/_header
				include main/_main
			include footer/_footer
		include scripts/_scripts









