doctype html
html
	head
		title Index
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- <!--[if IE 8]>script(src='/ie.js')<![endif]-->
		include head_style/_head_style
	body
		.wrapper
			.content
				include header/_header
				div.main#app
					.container
						h1(v-on:click='tutorialDemo') CLick me please!!! and show console brouser {{ counter }}
						form.border.m-1.p-4(:class="typeJob == 'list' ? 'border-primary' : 'border-danger' ")
							.form-row
								.form-group.col-md-6
									.form-group
										label
											input.form-group(type='radio', name="type", v-model="typeJob", value='list', :checked="typeJob == 'list'")
											span Список каналов
										label
											input.form-group(type='radio', name="type", v-model="typeJob", value='search', :checked="typeJob == 'search'")
											span Поиск
							div {{ typeJob }}
							.form-group(v-if="typeJob == 'search' ")
								label Поиск {{ search }}
								label(v-if="search.length") Кол-во символов {{ search.length }}
							.form-group(v-if="typeJob == 'search' ")
								input.form-group(type="text" name="search" v-model="search" placeholder="Введите текст")
							.form-group
								label(v-if="checkPick.length") {{ checkPick }} {{ checkPick.length }}
							.form-group
								.jumbotron
									.form-check(v-if="typeJob == 'search' ", v-for="hashtag in hashtags")
										label.form-check-label
											input.form-check-input(type='checkbox', v-model='checkPick', :value="hashtag")
											span {{ hashtag }}
									.form-check(v-if="typeJob == 'list' ", v-for="(channel, index) in channels")
										label.form-check-label
											input.form-check-input(type='checkbox', name="'channel-' + index",  v-model='checkPick', :value="channel.name")
											span {{ channel.name }}
				.tabs#tabs
					.container
						tabs
							tab(name='Services', :selected='true')
								p Cool services we offer
							tab(name='About')
								p Here is info about us.
							tab(name='Contact')
								p Conact us if you want.



			include footer/_footer
		include scripts/_scripts









