doctype html
html
	head
		title Index
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		include head_style/_head_style
	body
		.wrapper
			.content
				include header/_header
				.container
					div#vue
						ul
							li(v-for='name in names') {{ name }}
						input(type='text' v-model='value')
						button.btn.btn-primary(:class="{ 'btn-danger' : move }", @click='addName',@mouseover="move = !move", @mouseleave="move = false" ) Add name

						button.btn.btn-primary(:class="{ 'btn-danger' : isLoading }", @click="toggleClass") TOggle class
						br
						//ul.list-group
						//	li.list-group-item(v-for='task in inclementTasks') {{ task.description }}
						//br
						//task-list
						br
						h1 Alerts
						//.alert.alert-success(role='alert')
						//	h4.alert-heading Well done!
						//	p
						//		| Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
						//	hr
						message(title='Hello Word', body="Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.")
						message(title='Word', body="Hahahaha")
						br
						button.btn.btn-primary(@click='showModal = true') Show modal
						modal(v-if='showModal', @close='showModal = false')

			include footer/_footer
		script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
		script(src='js/vue.js')









